h1 Make a New Note
.row
   .small-12.columns
     form
       .row
         .small-6.columns
           label(for='title') Title
           input#title(type='text', name='title', ng-model='note.title', autofocus)
         .small-6.columns
       .row
         .small-6.columns
           label(for='body') Body
           textarea#body(type='text', name='body', ng-model='note.body', cols='30', row='5')
         .small-6.columns
       .row
         .small-6.columns
           label(for='tags') Tags
           input#tags(type='text', name='tags', ng-model='note.tags')
         .small-6.columns
       .row
         .small-6.columns
           button(ng-click='submit()') Submit
         .small-6.columns


